version: '3.8'

services:
  
  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    networks:
      - app-network
  api:
    build:
      context: ./back
      dockerfile: Dockerfile
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - app-network
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  nginx:
    image: nginx:latest
    ports:
      - "3000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api
      - frontend
    networks:
      - app-network


volumes:
  postgres_data: 
  
networks:
  app-network:
    driver: bridge